<section role="main" class="scroll-container">
  <div class="row">
    <div class="large-3 medium-3 columns">
      <div class="sidebar">
        Sidebar
      </div>
    </div>
    <div class="large-9 medium-8 columns">
      <h1>Welcome</h1>
      <h3 class="subheader">
        But seriously, there is nothing to see here.
      </h3>
      <hr />
      contact info?
    </div>
  </div>
</section>
